@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}
/*  font-family: "Playwrite CU", cursive; */

/* Header section */
.header {
  max-width: 1324px;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  margin-bottom: 40px;
}

.header .navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 160px;
}

.header .navber .logo h2 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0%;
  text-align: left;
}

.navlinks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

.navlinks .navitem .navlink {
  text-decoration: none;
  text-transform: capitalize;
  padding: 8px 20px;
  border: none;
  border-radius: 46px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3%;
  text-align: center;
}

.active {
  background: rgb(230, 83, 60);
}

.hamburger{
  display: none;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24%;
}

.banner-text h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: sans-serif;
}

#cursive {
  /* font-family: "Playwrite CU", cursive;  */
  font-family: "Dancing Script", cursive;
  font-weight: 300;
}

.banner-text p {
  font-family: Inter;
  font-size: 0.79rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}

.banner-btn-1 {
  padding: 13px 40px;
  border: none;
  font-size: 0.85rem;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
  margin-top: 20px;
  cursor: pointer;
}

.banner-btn-2 {
  padding: 13px 40px;
  border: 1px solid #fff;
  font-size: 0.85rem;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: transparent;
  border-radius: 46px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.banner-img {
  height: 500px;
  position: relative;
  left: -5%;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

.box-1 {
  height: 70px;
  width: 150px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 72%;
  left: -22%;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}

.box-1 .circle {
  height: 30px;
  width: 30px;
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 52%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h3 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: Inter;
  text-align: left;
  color: rgb(250, 250, 249);
}

.text p {
  font-size: 0.79rem;
  font-family: Inter;
  font-weight: 400;
  margin-top: 3px;
  color: rgba(239, 237, 232, 0.65);
}

.box-2 {
  height: 75px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  position: absolute;
  top: 23%;
  left: 65%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}

.box-2 h3 {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: Inter;
  color: #fff;
}

.box-2 p {
  font-size: 0.79rem;
  font-family: Inter;
  font-weight: 400;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.65);
}

/* Habit section start here */

.habits {
  max-width: 994px;
  margin: 0 auto;
}

.habits h1 {
  font-size: 3.3rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #ffff;
  font-family: Inter;
  text-align: center;
}

.habits > p {
  font-size: 0.85rem;
  font-family: Inter;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.habits .habits-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.habits .habits-img-container .card {
  max-width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.habits .habits-img-container .card .img-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid gray;
  margin-bottom: 20px;
}

.habits .habits-img-container .card .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.habits .habits-img-container .card h3 {
  font-size: 1.5rem;
  font-family: Inter;
  font-weight: 600;
  color: #fff;
}

.habits .habits-img-container .card p {
  font-size: 0.89rem;
  font-family: Inter;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
}

/* extra run section start */

.extra-run {
  max-width: 994px;
  margin: 50px auto;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background: rgb(34, 34, 34);
}

.run-text {
  width: 40%;
  padding-left: 25px;
}

.run-text h1 {
  font-size: 2.7rem;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
}

.run-text p {
  margin-top: 20px;
  font-size: 0.88rem;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.run-text button {
  padding: 13px 60px;
  border: none;
  font-size: 0.85rem;
  font-family: Inter;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: rgb(230, 83, 60);
  border-radius: 42px;
  margin-top: 25px;
  cursor: pointer;
}

.run-img {
  width: 40%;
  height: fit-content;
  border: none;
  padding: 0;
}

.run-img img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

/* Exercise section start */

.exercise {
  max-width: 994px;
  margin: 50px auto;
}

.exercise > h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
}

.exercise > p{
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 50px;
}

.row-1{
  width: 100%;
  display: grid;
  grid-template-columns: .2fr .5fr .3fr;
}

.row-1 .img-1 img{
  width: 100%;
  height: 100%;
}

.row-1 .img-2 img{
  width: 100%;
  height: 100%;
}

.row-1 .img-3 img{
  width: 100%;
  height: 100%;
}


.img-1, .img-2, .img-3{
  height: 170px;
  position: relative;
}


.row-2{
  width: 100%;
  display: grid;
  grid-template-columns: .5fr .3fr .2fr;
}

.row-2 .img-1 img{
  width: 100%;
  height: 100%;
}


.row-2 .img-2 img{
  width: 100%;
  height: 100%;
}

.row-2 .img-3 img{
  width: 100%;
  height: 100%;
}

.row-1 .img-1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(6, 255, 210, 0.5);
  z-index: 1000;
  left: 0;
}

.row-1 .img-2::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.3);
  z-index: 1000;
  left: 0;
}

.row-1 .img-3::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  left: 0;
}

.row-2 .img-1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  left: 0;
}

.row-2 .img-2::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(66, 255, 0, 0.3);
  z-index: 1000;
  left: 0;
}

.row-2 .img-3::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 71, 255, 0.3);
  z-index: 1000;
  left: 0;
}

/* MBI section start */

.row-3 .bmi-calculator{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  margin-top: 80px;
  margin-left: 20%;
}

.row-3 .bmi-text{
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 50px;
  margin-left: 20%;
}

.bmi {
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: rgb(34, 34, 34);
  /* align-items: center; */
}

.bmi-chart {
  width: 40%;
}

.bmi-chart h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  font-family: sans-serif;
  margin-top: 8%;
  margin-bottom: 40px;
}

.bmi-chart table {
  border-collapse: collapse;
  width: 60%;
  font-family: Inter;
}

.bmi-chart th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 7px 10px;
}

.bmi-chart table tr th {
  text-align: left;
  color: #fff;
}

.bmi-chart table tr {
  color: rgba(255, 255, 255, 0.5);
}

.bmi-calculator {
  width: 50%;
}

.bmi-calculator h2 {
  margin-top: 40px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
}

.bmi-calculator p {
  font-size: 0.84rem;
  font-weight: 400;
  font-family: Inter;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.bmi-calculator input {
  width: 250px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  color: grey;
  font-size: 0.85rem;
}

.bmi-calculator input::placeholder {
  font-weight: 500;
  font-size: 0.85rem;
  color: grey;
}
#activity {
  width: 78%;
}

.bmi-calculator button {
  padding: 13px 80px;
  border: none;
  font-size: 0.85rem;
  font-family: Inter;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
  margin-top: 24px;
  margin-bottom: 42px;
  cursor: pointer;
  letter-spacing: 1px;
}

/* Team section start */

.team {
  max-width: 994px;
  margin: 40px auto;
}

.team h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Inter;
  color: #fff;
  text-align: center;
}

.team > p {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 17px;
}

.team-img-container {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  padding: 10px;
  margin-top: 50px;
  border: none;
  border-radius: 18px;
}

.team-img {
  width: 310px;
  height: 300px;
  border: none;
  position: relative;
  margin: 0 auto;
}

.team-img img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.team-img h3 {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: sans-serif;
  position: absolute;
  top: 80%;
  left: 5%;
}

.team-img p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
  font-weight: 400;
  font-family: sans-serif;
  position: absolute;
  top: 90%;
  left: 5%;
}

/*Footer section start */

.footer {
  max-width: 1324px;
  height: 400px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
}

.footer-content {
  width: 994px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 60px;
}

.left,
.middle,
.right {
  margin: 0 auto;
  margin-top: 50px;
}

.left h1 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 3.2rem;
  font-weight: 900;
  letter-spacing: 0%;
  text-align: left;
}

.left p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-family: Inter;
  margin-top: 20px;
  text-align: left;
}

.middle h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
}

.middle ul {
  list-style: none;
  margin-top: 20px;
}

.middle ul li {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  margin-top: 5px;
  font-weight: 400;
  cursor: pointer;
}

.right h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
}

.right ul {
  list-style: none;
  margin-top: 20px;
}

.right ul li {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  margin-top: 5px;
  font-weight: 400;
  cursor: pointer;
}

#horizontal-line {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 994px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer > p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-family: sans-serif;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.hide {
  display: none;
}
