/* @import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
  background-color: black;;
}
/*  font-family: "Playwrite CU", cursive; */

/* Header section */
.header {
  max-width: 1324px;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(14, 13, 13, 0) 100%
  );
  margin-bottom: 40px;
}

.header .navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 160px;
}

.header .navber .logo h2 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0%;
  text-align: left;
}

.navlinks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

.navlinks .navitem .navlink {
  text-decoration: none;
  text-transform: capitalize;
  padding: 8px 20px;
  border: none;
  border-radius: 46px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3%;
  text-align: center;
}

.active {
  background: rgb(230, 83, 60);
}

.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24%;
    
}

.banner-text h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: sans-serif;

}

.banner-text p{
  font-family: sans-serif;
  font-size: 0.69rem;
  font-weight: 400;
  color: rgb(231, 222, 222);
  margin-top: 20px;
}

.banner-btn-1{
  padding: 13px 40px;
  border: none;
  font-size: 0.85rem;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
  margin-top: 20px;
  cursor: pointer;

}

.banner-btn-2{
  padding: 13px 40px;
  border: 1px solid #fff;
  font-size: 0.85rem;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: transparent;
  border-radius: 46px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.banner-img{
  height: 500px;
  position: relative;
  left: -5%;
}

.banner-img img{
  width: 100%;
  height: 100%;
}

.box-1{
  height: 70px;
  width: 150px;
  border-radius: 14px ;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 72%;
  left: -22%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur;
}

.box-1 .circle{
  height: 30px;
  width: 30px;
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 52%;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h3{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  color: #ffff;
}

.text p{
  font-size: 0.79rem;
  font-family: sans-serif;
  font-weight: 400;
  /* color: rgb(231, 222, 222); */
  margin-top: 3px;
  color: rgb(231, 222, 222);

}


.box-2{
  height: 75px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  position: absolute;
  top: 23%;
  left: 65%;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 14px;

}

.box-2 h3{
  font-size: 1.8rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;

}

.box-2 p{
  font-size: 0.79rem;
  font-family: sans-serif;
  font-weight: 400;
  margin-top: 4px;
  color: rgb(231, 222, 222);
}


/* Habit section start here */

.habits{
  max-width: 994px;
  margin: 0 auto;
}

.habits h1{
  font-size: 3.3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffff;
  font-family: sans-serif;
  text-align: center;
}

.habits> p{
  font-size: 0.89rem;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 25px;
  color: #ffff;
}

.habits .habits-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.habits .habits-img-container .card{
  max-width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;

}

.habits .habits-img-container .card .img-box{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid gray;
  margin-bottom: 20px;
}

.habits .habits-img-container .card .img-box img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.habits .habits-img-container .card h3{
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #fff;
}

.habits .habits-img-container .card p{
  font-size: .89rem;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
  color: #fff;
}

/* extra run section start */

.extra-run{
  max-width: 994px;
  margin: 50px auto;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  /* margin-top: 50px; */
  background-color: #222222;
}

.run-text{
  width: 40%;
  padding-left: 25px;
}

.run-text h1{
  font-size: 2.7rem;
  font-weight: 800;
  font-family: sans-serif;
  color: #fff;
}

.run-text p{
  margin-top: 20px;
  font-size: .88rem;
  font-family: sans-serif;
  color: #ffff;
  font-weight: 400;
}


.run-text button{
  padding: 13px 60px;
  border: none;
  font-size: 0.85rem;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
  margin-top: 25px;
  cursor: pointer;
}


.run-img{
  width: 40%;
  height: fit-content;
  border: none;
  padding: 0;
}

.run-img img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


/* MBI section start */

.bmi{
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #222222;
  /* align-items: center; */
}

.bmi-chart{
  width: 40%;
}

.bmi-chart h2{
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  font-family: sans-serif;

}

.bmi-chart table{
  border: 1px solid #fff;
  width: 80%;
}

.bmi-chart table tr{
  color: #fff;
}

.bmi-calculator{
  width: 50%;
}

.bmi-calculator h2{
  font-size: 1.8rem;
  font-weight: 600;
  font-family: sans-serif;
  color: #fff;
}

.bmi-calculator p{
  font-size: .78rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bmi-calculator input{
  width: 250px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: #353333;
  border-radius: 7px;
  color: grey;
  font-size: 0.85rem;
}

.bmi-calculator input::placeholder{
  font-weight: 500;
  font-size: 0.85rem;
  color: grey;
}
#activity{
  width: 78%;
}

.bmi-calculator button{
  padding: 13px 80px;
  border: none;
  font-size: 0.85rem;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
  margin-top: 20px;
  cursor: pointer;
}

/* Team section start */

.team{
  max-width: 994px;
  margin: 40px auto;
}

.team h1{
  font-size: 3rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

.team> p{
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 17px;
}

.team-img-container{
  background-color: #222222;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  padding: 10px;
  margin-top: 50px;
  border: none;
  border-radius: 17px;
  
}

.team-img{
  width: 310px;
  height: 300px;
  border: none;
  position: relative;
  margin: 0 auto;
}

.team-img img{
  width: 100%;
  height: 100%;
  border-radius: 17px;
}

.team-img h3{
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: sans-serif;
  position: absolute;
  top: 80%;
  left: 5%;
}

.team-img p{
  color: #fff;
  font-size: .85rem;
  font-weight: 400;
  font-family: sans-serif;
  position: absolute;
  top: 90%;
  left: 5%;
}

 /*Footer section start */

.footer{
  max-width: 1324px;
  height: 400px;
  background-color: #222222;
  margin: 0 auto;
}

.footer-content{
  width: 994px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 60px;

}

.left, .middle, .right{
  margin: 0 auto;
  margin-top: 50px;
}

.left h1{
  color: rgb(230, 83, 60);
  font-family: sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 0%;
  text-align: left;
}

.left p{
  font-size: 1rem;
  color: #6e6e6e;
  font-weight: 500;
  font-family: sans-serif;
  margin-top: 20px;
  text-align: left;
}

.middle h2{
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
}

.middle ul{
  list-style: none;
  margin-top: 20px;
}

.middle ul li{
  font-size: 1.4rem;
  color: #6e6e6e;
  font-family: sans-serif;
  margin-top: 5px;
  font-weight: 400;
}

.right h2{
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
}

.right ul{
  list-style: none;
  margin-top: 20px;
}

.right ul li{
  font-size: 1.4rem;
  color: #6e6e6e;
  font-family: sans-serif;
  margin-top: 5px;
  font-weight: 400;
}

#horizontal-line{
  border: 1px solid #6e6e6e;
  max-width: 994px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer> p{
  font-size: 1rem;
  color: #6e6e6e;
  font-weight: 500;
  font-family: sans-serif;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}